@import "normalize";
@import "vars";
@import "mixins";
@import "fonts";
@import "header";
@import "about";
@import "therapy";

body {
  background: $c-gray;
  color: #2f3030;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  overflow: hidden;
}
